export(accumulation)
export(dense_zones)
export(n_zones_PCA)
export(plot_accumulation)
export(plot_n_zones)
export(w_analysis)
export(high_accumulation_zones)
import(GenomicRanges)
importFrom("grDevices", "dev.off", "png")
importFrom("graphics", "axis", "barplot", "legend", "mtext", "par","plot",
"points","abline")
importFrom("stats", "prcomp")
importFrom("utils", "write.table")
import(IRanges)
import(S4Vectors)
